* {
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
}

h1 {
  font-weight:100;
  font-size: 50px;
}

.task-section {
  width: 40vw;
  max-width: 500px;
}

.task-filter {
  padding: 10px;
  width: 60vw;
}

.task-list {
  margin: 0;
  padding: 0;
}

.task-box:first-of-type{
  border-top: 1px solid lightgray;
}

.task-box {
  list-style: none;
  border-bottom: 1px solid lightgray;
  padding: 20px 10px;
  margin: 5px 0;
  width: 100%;
}

.task-box i {
  font-size: 24px;
}

.task-right {
  float: right;
}

.user-picker {
  height: 35px;
  width: 80px;
  border-radius: 4px;
  border-color: lightgray;
}